<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="labelledInput (id, field, placeholder, label, type, value)">
    <label th:for="${id}" th:text="${label}"></label>
    <input th:id="${id}" th:type="${type}" th:field="*{__${field}__}" th:placeholder="${placeholder}" th:value="${value}" />
    <p th:if="${#fields.hasErrors(field)}" th:errors="*{__${field}__}">
    </p>
</div>

<div th:fragment="submit (label)">
    <input id="submit" type="submit" th:value="${label}" />
</div>

<div th:fragment="userAssignment (assignedToUserId, assignableUsers, assignedUser)">
    <label for="assignedTo">Assigned To</label>
    <select id="assignedTo" th:field="*{assignedToUserId}">
        <option th:each="user : ${assignableUsers}" th:value="${user.id}" th:text="${user?.lastName + ', ' + user?.firstName}"></option>
        <option th:if="*{assignedToUserId == 0}" th:value="${0}" selected>Unassigned</option>
        <option th:if="*{assignedToUserId != 0}" th:value="${assignedUser?.id}" th:text="${assignedUser?.lastName + ', ' + assignedUser?.firstName}" selected></option>
    </select>
</div>

</body>
</html>