<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:class="${classes}" th:fragment="labelledInput (id, field, placeholder, label, type, value, classes)">
    <div class="form-floating">
        <input class="form-control" th:id="${id}" th:type="${type}" th:field="*{__${field}__}" th:placeholder="${placeholder}" th:value="${value}" th:errorclass="'is-invalid'" />
        <label th:for="${id}" th:text="${label}"></label>
        <div class="invalid-feedback" th:if="${#fields.hasErrors(field)}" th:errors="*{__${field}__}">
        </div>
    </div>
</div>

<div th:fragment="submit (label)">
    <input class="btn btn-primary w-100 py-2" id="submit" type="submit" th:value="${label}" />
</div>

<div th:class="${classes}" th:fragment="priorityAssignment (field, currentPriority, classes)">
    <label class="form-label" for="priority">Priority</label>
    <select class="form-select" id="priority" th:field="*{__${field}__}">
        <option th:each="priorityOption, i : ${T(com.example.charlesb.projectmanagementsystem.enums.Priority).values()}"
                th:value="${i.index}" th:text="${priorityOption.displayValue}" th:selected="${currentPriority == priorityOption}"></option>
    </select>
</div>

<div th:class="${classes}" th:fragment="statusAssignment (field, currentStatus, classes)">
    <label class="form-label" for="status">Status</label>
    <select class="form-select" id="status" th:field="*{__${field}__}">
        <option th:each="statusOption, i : ${T(com.example.charlesb.projectmanagementsystem.enums.Status).values()}"
                th:value="${i.index}" th:text="${statusOption.displayValue}" th:selected="${currentStatus == statusOption}"></option>
    </select>
</div>

<div th:fragment="userAssignment (assignedToUserId, assignableUsers)">
    <label class="form-label" for="assignedTo">Assigned To</label>
    <select class="form-select" id="assignedTo" th:field="*{assignedToUserId}">
        <option th:value="${0}" selected>Unassigned</option>
        <option th:each="user : ${assignableUsers}" th:value="${user.id}" th:text="${user?.lastName + ', ' + user?.firstName}" th:selected="${assignedToUserId == user.id}"></option>
    </select>
</div>

<div th:fragment="contactMethod (field)">
    <span>Preferred Contact Method: </span>
    <input id="contactMethodEmail" type="radio" th:field="*{__${field}__}" value="email" th:selected="true" />
    <label for="contactMethodEmail">Email</label>
    <input id="contactMethodPhone" type="radio" th:field="*{__${field}__}" value="phone" />
    <label for="contactMethodPhone">Phone</label>
</div>

<form th:fragment="formButton (field, value, method, action, label, type)" th:method="${method}" th:action="${action}">
    <input type="hidden" th:name="${field}" th:value="${value}" />
    <input type="submit" th:value="${label}" th:class="'btn btn-' + ${type}" />
</form>

</body>
</html>