<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="list-group-item rounded-3 py-3" th:fragment="project-dash (project)">
    <div class="d-flex justify-content-between align-items-start">
        <h3>[[${project.name}]]</h3>
        <span th:class="'badge text-bg-' + ${project.priority.style}">
            Priority: [[${project.priority.displayValue}]]
        </span>
    </div>
    <p>[[${project.description}]]</p>
    <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{id}(id=${project.id})}, label='View Details', type='primary')}"></a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="task-dash (task, projectName, projectId)">

    <div class="d-flex justify-content-between align-items-start">
        <h5><a th:href="@{/projects/{projectId}(projectId=${projectId})}">[[${projectName}]]</a></h5>
        <span th:class="'badge text-bg-' + ${task.priority.style}">
            Priority: [[${task.priority.displayValue}]]
        </span>
    </div>

    <h3>[[${task.name}]]</h3>
    <p>[[${task.description}]]</p>
    <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${task.taskId})}, label='View Details', type='primary')}"></a>

</div>

<div class="list-group-item rounded-3 py-3" th:fragment="requirement-dash (requirement, projectName, projectId, taskName, taskId)">
    <h5>
        <a th:href="@{/projects/{projectId}(projectId=${projectId})}">[[${projectName}]]</a>
         -
        <a th:href="@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${taskId})}">[[${taskName}]]</a>
    </h5>
    <h3>[[${requirement.title}]]</h3>
    <p>[[${requirement.description}]]</p>
    <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${taskId})}, label='View Task Details', type='primary')}"></a>
</div>

<div class="list-group-item rounded-3 py-3" th:id="'user' + ${user.id}" th:fragment="user-list (user, manager)">
    <h4>[[${user.firstName + ' ' + user.lastName}]]</h4>
    <p>[[${user.email}]]</p>
    <p th:if="${user.phone}">[[${user.phone}]]</p>
    <p th:if="${user.contactMethod}">Preferred Contact Method: [[${#strings.capitalize(user.contactMethod)}]]</p>
    <p class="role-display">Roles: <span th:each="role : ${user.roles}" th:text="${#strings.capitalize(#strings.toLowerCase(#strings.substring(role, 5)))}">ROLE_NAME</span></p>
    <p th:if="${user.managerId != null}">
        <a th:href="'#user' + ${manager.id}">
            Manager: [[${manager.firstName + ' ' + manager.lastName}]]
        </a>
    </p>
    <div class="button-row">

        <form sec:authorize="hasRole('ROLE_OWNER')" th:if="${#lists.contains(user.roles, 'ROLE_ADMIN') and not #lists.contains(user.roles, 'ROLE_OWNER')}"
              th:action="@{/admin/users/promote}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}" />
            <input type="hidden" name="role" value="OWNER" />

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#promotionModal' + ${user.id}">
                Promote to Owner
            </button>

            <div class="modal fade" th:id="'promotionModal' + ${user.id}" tabindex="-1" th:aria-labelledby="'promotionModalLabel' + ${user.id}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="'promotionModalLabel' + ${user.id}" th:text="${'Promote ' + user.firstName + ' ' + user.lastName +' to Owner?'}">Promote User to Owner?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            This action will demote you from the owner role and make [[${user.firstName + ' ' + user.lastName}]] the new owner.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Confirm" />
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <form sec:authorize="hasRole('ROLE_OWNER')"
              th:action="@{/admin/users/{action}(action=${#lists.contains(user.roles, 'ROLE_ADMIN') ? 'demote' : 'promote'})}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}" />
            <input type="hidden" name="role" value="ADMIN" />
            <input class="btn btn-primary" type="submit" th:value="${#lists.contains(user.roles, 'ROLE_ADMIN')} ? 'Demote from Admin' : 'Promote to Admin'" />
        </form>

        <form th:action="@{/admin/users/{action}(action=${#lists.contains(user.roles, 'ROLE_MANAGER') ? 'demote' : 'promote'})}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}" />
            <input type="hidden" name="role" value="MANAGER" />
            <input class="btn btn-primary" type="submit" th:value="${#lists.contains(user.roles, 'ROLE_MANAGER')} ? 'Demote from Manager' : 'Promote to Manager'" />
        </form>

        <th:block th:replace="~{../fragments/form_fields :: formButton (field='userId', value=${user.id}, method='post', action=@{/admin/users/toggle}, label=${user.enabled ? 'Disable' : 'Enable'}, type='primary')}" />
        <a th:replace="~{../fragments/navigation :: action-button (link=@{/admin/users/{id}/edit(id=${user.id})}, label='Edit', type='primary ms-auto')}"></a>

        <th:block th:replace="~{../fragments/form_fields :: formButton (field='userId', value=${user.id}, method='post', action=@{/admin/users/{userId}/delete(userId=${user.id})}, label='Delete', type='danger')}" />

    </div>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="project-list (project)">
    <div class="d-flex justify-content-between align-items-center">
        <h3>[[${project.name}]]</h3>
        <div>
            <p th:class="'badge text-bg-' + ${project.priority.style}">Priority: [[${project.priority.displayValue}]]</p>
            <p class="badge text-bg-info">Status: [[${project.status.displayValue}]]</p>
        </div>
    </div>
    <p>[[${project.description}]]</p>
    <p>Created By: [[${project.createdBy.lastName + ', ' + project.createdBy.firstName}]]</p>
    <p th:text="'Assigned To: ' + ${project.assignedTo != null ? project.assignedTo.lastName + ', ' + project.assignedTo.firstName : 'Unassigned'}"></p>
    <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{id}(id=${project.id})}, label='View Details', type='primary')}"></a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="task-list (task, projectId)">
    <div class="d-flex justify-content-between align-items-center">
        <h3>[[${task.name}]]</h3>
        <div>
            <p th:class="'badge text-bg-' + ${task.priority.style}">Priority: [[${task.priority.displayValue}]]</p>
            <p class="badge text-bg-info">Status: [[${task.status.displayValue}]]</p>
        </div>
    </div>
    <p>[[${task.description}]]</p>
    <p>Created By: [[${task.createdBy.lastName + ', ' + task.createdBy.firstName}]]</p>
    <p th:if="${task.assignedTo}">Assigned To: [[${task.assignedTo?.lastName + ', ' + task.assignedTo?.firstName}]]</p>
    <p th:unless="${task.assignedTo}">Assigned To: Unassigned</p>
    <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${task.taskId})}, label='View Details', type='primary')}"></a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="requirement-list (requirement, projectId, taskId)">
    <div class="d-flex justify-content-between align-items-center">
        <h3>[[${requirement.title}]]</h3>
        <p class="badge text-bg-info">Status: [[${requirement.status.displayValue}]]</p>
    </div>
    <p>[[${requirement.description}]]</p>
    <p>Created By: [[${requirement.createdBy.lastName + ', ' + requirement.createdBy.firstName}]]</p>
    <p th:if="${requirement.assignedTo}">Assigned To: [[${requirement.assignedTo?.lastName + ', ' + requirement.assignedTo?.firstName}]]</p>
    <p th:unless="${requirement.assignedTo}">Assigned To: Unassigned</p>
    <div class="button-row">
        <a th:replace="~{../fragments/navigation :: action-button (link=@{/projects/{projectId}/task/{taskId}/requirement/{requirementId}/edit(projectId=${projectId}, taskId=${task.taskId}, requirementId=${requirement.id})}, label='Edit', type='primary')}"></a>
        <th:block th:replace="~{../fragments/form_fields :: formButton (field='requirementId', value=${requirement.id}, method='post', action=@{/projects/__${projectId}__/task/__${task.taskId}__/requirement/delete}, label='Delete', type='danger')}" />
    </div>
</div>

</body>
</html>