<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="list-group-item rounded-3 py-3" th:fragment="project-dash (project)">
    <h3>[[${project.name}]]</h3>
    <p>[[${project.description}]]</p>
    <p>[[${project.priority.displayValue}]]</p>
    <a th:href="@{/projects/{id}(id=${project.id})}">View Details</a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="task-dash (task, projectName, projectId)">
    <h5>[[${projectName}]]</h5>
    <h3>[[${task.name}]]</h3>
    <p>[[${task.description}]]</p>
    <p>[[${task.priority.displayValue}]]</p>
    <a th:href="@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${task.taskId})}">View Details</a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="requirement-dash (requirement, projectName, projectId, taskName, taskId)">
    <h5>[[${projectName} - ${taskName}]]</h5>
    <h3>[[${requirement.title}]]</h3>
    <p>[[${requirement.description}]]</p>
    <a th:href="@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${taskId})}">View Task Details</a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="user-list (user, manager)">
    <h4>[[${user.firstName + ' ' + user.lastName}]]</h4>
    <p>[[${user.email}]]</p>
    <p th:if="${user.phone}">[[${user.phone}]]</p>
    <p th:if="${user.contactMethod}">Preferred Contact Method: [[${user.contactMethod}]]</p>
    <p>[[${user.roles}]]</p>
    <p th:if="${user.managerId != null}">
        Manager: [[${manager.firstName + ' ' + manager.lastName}]]
    </p>
    <div>
        <th:block th:unless="${user.roles.contains('ROLE_ADMIN')}" th:replace="~{form_fields :: formButton (field='userId', value=${user.id}, method='post', action=@{/users/promote}, label='Promote to Admin')}" />
        <th:block th:replace="~{form_fields :: formButton (field='userId', value=${user.id}, method='post', action=@{/users/toggle}, label=${user.enabled} ? 'Disable' : 'Enable')}" />
        <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
    </div>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="project-list (project)">
    <h3>[[${project.name}]]</h3>
    <p>[[${project.description}]]</p>
    <p>[[${project.priority.displayValue}]]</p>
    <p>[[${project.status.displayValue}]]</p>
    <p>Created By: [[${project.createdBy.lastName + ', ' + project.createdBy.firstName}]]</p>
    <p th:if="${project.assignedTo}">Assigned To: [[${project.assignedTo?.lastName + ', ' + project.assignedTo?.firstName]]</p>
    <p th:unless="${project.assignedTo}">Assigned To: Unassigned</p>
    <a th:href="@{/projects/{id}(id=${project.id})}">View Details</a>
</div>

<div class="list-group-item rounded-3 py-3" th:fragment="task-list (task, projectId)">
    <h3>[[${task.name}]]</h3>
    <p>[[${task.description}]]</p>
    <p>[[${task.priority.displayValue}]]</p>
    <p>[[${task.status.displayValue}]]</p>
    <p>Created By: [[${task.createdBy.lastName + ', ' + task.createdBy.firstName}]]</p>
    <p th:if="${task.assignedTo}">Assigned To: [[${task.assignedTo?.lastName + ', ' + task.assignedTo?.firstName}]]</p>
    <p th:unless="${task.assignedTo}">Assigned To: Unassigned</p>
    <a th:href="@{/projects/{projectId}/task/{taskId}(projectId=${projectId}, taskId=${task.taskId})}">View Details</a>
</div>

</body>
</html>