html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    z-index: 1;
    position: relative;
    text-align: center;
}

footer ul li {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
}

footer ul li a {
    text-decoration: none;
}

footer ul {
    margin: 0.5rem;
}

.small-form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spaced {
    justify-content: space-between !important;
}

.button-row > * {
    margin-right: 4px;
}

.role-display > span:not(:last-child):after {
    content: ', '
}

use {
    fill: var(--bs-emphasis-color);
}

.dropdown-toggle use {
    fill: var(--bs-tertiary-color);
}

.dropdown-toggle:hover use {
    fill: white;
}

.dropdown-menu use {
    fill: var(--bs-body-color);
}

.active.dropdown-item use {
    fill: white;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}