<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<header th:replace="~{../fragments/headers :: ${(#authentication.isAuthenticated())} ? (${#authorization.expr('hasRole(''ROLE_ADMIN'')') or #authorization.expr('hasRole(''ROLE_OWNER'')')} ? 'authenticated-admin' : 'authenticated') : 'unauthenticated'}">
</header>

<main>

    <div class="d-flex flex-md-row flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center m-auto">

        <div class="list-group d-grid gap-2 border-0 col-md-3">
            <h2>Assigned Projects</h2>
            <div th:if="${inProgressProjects.isEmpty()}">No Assigned Projects</div>
            <div th:unless="${inProgressProjects.isEmpty()}">
                <th:block th:each="project : ${inProgressProjects}" th:insert="~{../fragments/objects :: project-dash (project=${project})}">
                </th:block>
            </div>
        </div>

        <div class="list-group d-grid gap-2 border-0 col-md-3">
            <h2>Assigned Tasks</h2>
            <div th:if="${inProgressTasks.isEmpty()}">No Assigned Tasks</div>
            <div th:unless="${inProgressTasks.isEmpty()}">
                <th:block th:each="task : ${inProgressTasks}" th:insert="~{../fragments/objects :: task-dash (task=${task}, projectName=${task.project.name}, projectId=${task.project.id})}">
                </th:block>
            </div>
        </div>

        <div class="list-group d-grid gap-2 border-0 col-md-3">
            <h2>Assigned Requirements</h2>
            <div th:if="${inProgressRequirements.isEmpty()}">No Assigned Requirements</div>
            <div th:unless="${inProgressRequirements.isEmpty()}">
                <th:block th:each="requirement : ${inProgressRequirements}" th:insert="~{../fragments/objects :: requirement-dash (requirement=${requirement}, projectName=${requirement.task.project.name}, projectId=${requirement.task.project.id}, taskName=${requirement.task.name}, taskId=${requirement.task.taskId})}">
                </th:block>
            </div>
        </div>

    </div>

</main>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>