<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{../fragments/headers :: authenticated}">
</header>

    <form method="POST" th:action="@{/projects/save}" th:object="${project}">

        <input type="hidden" th:field="*{id}" />

        <div th:replace="~{../fragments/form_fields :: input (id='name', field='name', placeholder='Name', label='Project Name', type='text', value='*{name}')}">
        </div>

        <div th:replace="~{../fragments/form_fields :: input (id='description', field='description', placeholder='Description', label='Project Description', type='text', value='*{description}')}">
        </div>

        <div th:replace="~{../fragments/form_fields :: input (id='priority', field='priority', placeholder='0', label='Priority', type='number', value='*{priority}')}">
        </div>

        <div th:replace="~{../fragments/form_fields :: input (id='status', field='status', placeholder='Status', label='Status', type='number', value='*{status}')}">
        </div>

        <div th:replace="~{../fragments/form_fields :: userAssignment (assignedToUserId=*{assignedToUserId}, assignableUsers=${assignableUsers}, assignedUser=${assignedUser})}">
        </div>

        <input type="submit" th:value="${project.id == 0} ? 'Create' : 'Edit'" />
    </form>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

</body>
</html>