<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/projects/{projectId}/task/{taskId}/requirement/save(projectId=${projectId},taskId=${taskId})}" th:object="${requirement}">

    <input type="hidden" th:field="*{id}" />

    <label>
        Task Name
        <input type="text" th:field="*{title}" placeholder="Title" />
    </label>
    <label>
        Task Description
        <input type="text" th:field="*{description}" placeholder="Description" />
    </label>
    <label>
        Status
        <input type="text" th:field="*{status}" placeholder="Status" />
    </label>

    <label for="assignedTo">Assigned To</label>
    <select id="assignedTo" th:field="*{assignedToUserId}">
        <option th:each="user : ${assignableUsers}" th:value="${user.id}" th:text="${user.lastName}, ${user.firstName}"></option>
        <option th:if="*{assignedToUserId == null}" th:value="${null}" selected>Unassigned</option>
        <option th:if="${assignedUser != null}" th:value="assignedUser.id" th:text="${assignedUser.lastName}, ${assignedUser.firstName}" selected></option>
    </select>

    <input th:if="${requirement.id == null}" type="submit" value="Create" />
    <input th:if="${requirement.id != null}" type="submit" value="Edit" />
</form>
</body>
</html>