<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- TODO: alter action and button text to support adding new tasks and updating existing tasks -->
  <form method="POST" th:action="@{/new}" th:object="${task}">

    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{parentId}" />
    <input type="hidden" th:field="*{level}" />

    <label>
      Task Name
      <input type="text" th:field="*{name}" placeholder="Name" />
    </label>
    <label>
      Task Description
      <input type="text" th:field="*{description}" placeholder="Description" />
    </label>
    <label>
      Priority
      <input type="text" th:field="*{priority}" placeholder="Priority" />
    </label>
    <label>
      Status
      <input type="text" th:field="*{status}" placeholder="Task status" />
    </label>

    <input type="submit" value="Create" />
  </form>
</body>
</html>