<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>
<main>
    <div th:object="${task}">
        <h2>Task Details</h2>
        <h4 th:text="*{name}"></h4>
        <p th:text="*{description}"></p>
        <p th:text="'Status: ' + *{status}"></p>
        <p th:text="'Priority: ' + *{priority}"></p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="childTask : *{childTasks}">
                <td th:text="*{childTask.name}"></td>
                <td th:text="*{childTask.description}"></td>
                <td th:text="*{childTask.status}"></td>
            </tr>
            <tr>
                <td colspan="3"><a th:href="@{/new}">Add New Child Task</a></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/edit/{id}(id=${task.taskId})}">Edit</a>
    <a th:href="@{/delete/{id}(id=${task.taskId})}">Delete</a>
</main>
</body>
</html>