<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task View</title>
</head>
<body>

<header th:replace="~{../fragments/headers :: authenticated}">
</header>

<main>
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Level</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.name}">No Name</td>
                <td th:text="${task.description}">No Description</td>
                <td th:text="${task.priority}">No Priority</td>
                <td th:text="${task.status}">No Status</td>
                <td th:text="${task.level}">No Status</td>
                <td><a th:href="@{/details/{id}(id=${task.taskId})}">View Details</a></td>
            </tr>
            <tr>
                <td colspan="6"><a th:href="@{/new}">Add New Task</a></td>
            </tr>
        </tbody>
    </table>
</main>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

</body>
</html>