<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{../fragments/headers :: authenticated}">
</header>

  <form method="POST" th:action="@{/projects/{projectId}/task/save(projectId=${projectId})}" th:object="${task}">

    <input type="hidden" th:field="*{id}" />

    <label>
      Task Name
      <input type="text" th:field="*{name}" placeholder="Name" />
    </label>
    <label>
      Task Description
      <input type="text" th:field="*{description}" placeholder="Description" />
    </label>
    <label>
      Priority
      <input type="text" th:field="*{priority}" placeholder="Priority" />
    </label>
    <label>
      Status
      <input type="text" th:field="*{status}" placeholder="Task status" />
    </label>

    <label for="assignedTo">Assigned To</label>
    <select id="assignedTo" th:field="*{assignedToUserId}">
      <option th:each="user : ${assignableUsers}" th:value="${user.id}" th:text="${user.lastName}, ${user.firstName}"></option>
      <option th:if="*{assignedToUserId == null}" th:value="${null}" selected>Unassigned</option>
      <option th:if="${assignedUser != null}" th:value="assignedUser.id" th:text="${assignedUser.lastName}, ${assignedUser.firstName}" selected></option>
    </select>

    <input th:if="${task.id == null}" type="submit" value="Create" />
    <input th:if="${task.id != null}" type="submit" value="Edit" />
  </form>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

</body>
</html>