<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="~{../fragments/headers :: authenticated}">
</header>

<h2>List of Registered Users</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text = "${user.email}"></td>
            <td th:text = "${user.phone}"></td>
            <td>
                <form method="post">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <input th:if="${user.isEnabled()}" type="submit" value="Disable" />
                    <input th:if="${!user.isEnabled()}" type="submit" value="Enable" />
                </form>
                <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

</body>
</html>