<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details | Project Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<header th:replace="${links != null} ? ~{../fragments/headers :: breadcrumb-header (links=${links})} : ~{../fragments/headers :: no-breadcrumb-header}">
</header>

<main class="mx-auto my-5 pt-5">
    <div class="mx-5 col-10">
        <div class="col-12">
            <h3>[[${user.firstName + ' ' + user.lastName}]]</h3>
            <p>[[${user.email}]]</p>
            <p>[[${user.phone}]]</p>
            <p class="role-display">Roles: <span th:each="role : ${user.roles}" th:text="${#strings.capitalize(#strings.toLowerCase(#strings.substring(role, 5)))}">ROLE_NAME</span></p>
            <p th:if="${manager}">
                Manager: <span>[[${manager.firstName + ' ' + manager.lastName}]]</span>
            </p>
            <div class="button-row spaced">
                <a th:if="${userView}" th:replace="~{../fragments/navigation :: action-button (link=@{/user/edit}, label='Edit', type='primary')}"></a>
            </div>
        </div>

        <hr>

        <div class="d-flex gap-3 mx-auto justify-content-center align-items-start">

            <div class="col border-0 col-md-3">
                <h2 class="display-6 mb-4">Assigned Projects</h2>
                <div th:if="${assignedProjects.isEmpty()}">No Assigned Projects</div>
                <div class="list-group" th:unless="${assignedProjects.isEmpty()}">
                    <th:block th:each="project : ${assignedProjects}" th:insert="~{../fragments/objects :: project-dash (project=${project})}">
                    </th:block>
                </div>
            </div>

            <div class="col border-0 col-md-3">
                <h2 class="display-6 mb-4">Assigned Tasks</h2>
                <div th:if="${assignedTasks.isEmpty()}">No Assigned Tasks</div>
                <div class="list-group" th:unless="${assignedTasks.isEmpty()}">
                    <th:block th:each="task : ${assignedTasks}">
                        <div th:replace="~{../fragments/objects :: task-dash (task=${task}, projectName=${task.project.name}, projectId=${task.project.id})}">
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="col border-0 col-md-3">
                <h2 class="display-6 mb-4">Assigned Requirements</h2>
                <div th:if="${assignedRequirements.isEmpty()}">No Assigned Requirements</div>
                <div class="list-group" th:unless="${assignedRequirements.isEmpty()}">
                    <th:block th:each="requirement : ${assignedRequirements}">
                        <div th:replace="~{../fragments/objects :: requirement-dash (requirement=${requirement}, projectName=${requirement.task.project.name}, projectId=${requirement.task.project.id}, taskName=${requirement.task.name}, taskId=${requirement.task.taskId})}">
                        </div>
                    </th:block>
                </div>
            </div>

        </div>

        <hr>

        <div class="d-flex gap-3 mx-auto justify-content-center align-items-start">

        <div class="col border-0 col-md-3">
            <h2 class="display-6 mb-4">Created Projects</h2>
            <div th:if="${createdProjects.isEmpty()}">No Created Projects</div>
            <div class="list-group" th:unless="${createdProjects.isEmpty()}">
                <th:block th:each="project : ${createdProjects}" th:insert="~{../fragments/objects :: project-dash (project=${project})}">
                </th:block>
            </div>
        </div>

        <div class="col border-0 col-md-3">
            <h2 class="display-6 mb-4">Created Tasks</h2>
            <div th:if="${createdTasks.isEmpty()}">No Created Tasks</div>
            <div class="list-group" th:unless="${createdTasks.isEmpty()}">
                <th:block th:each="task : ${createdTasks}">
                    <div th:replace="~{../fragments/objects :: task-dash (task=${task}, projectName=${task.project.name}, projectId=${task.project.id})}">
                    </div>
                </th:block>
            </div>
        </div>

        <div class="col border-0 col-md-3">
            <h2 class="display-6 mb-4">Created Requirements</h2>
            <div th:if="${createdRequirements.isEmpty()}">No Created Requirements</div>
            <div class="list-group" th:unless="${createdRequirements.isEmpty()}">
                <th:block th:each="requirement : ${createdRequirements}">
                    <div th:replace="~{../fragments/objects :: requirement-dash (requirement=${requirement}, projectName=${requirement.task.project.name}, projectId=${requirement.task.project.id}, taskName=${requirement.task.name}, taskId=${requirement.task.taskId})}">
                    </div>
                </th:block>
            </div>
        </div>

    </div>
    </div>
</main>

<footer th:replace="~{../fragments/footers :: footer}">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>